.footer {
  background-color: #131842; 
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
