.menu {
  background-color: #E68369; 
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu ul li {
  margin-right: 1.5rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: #FFD700;
}
